html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
text-align: center;
align-items: center;
}


#div1{
    background-color: whitesmoke;
    border-radius: 15px;
    width: 60%;
    align-content: center;
    padding: 40px;
}
#username, #password{
    width: 150px;
}
#div-1, #div-2, #div-3, #div-4{
  background-color: whitesmoke;
  border-radius: 15px;
  align-content: center;
  padding: 40px;
  width: 100%;
}

section {
	display: flex;
  }

nav{
  width: 40%;
  margin-right: 5%;
  margin-left: 5%;
}
article{
  width: 40%;
}
.form-control{
  width: 65%;
}
