html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
text-align: center;
align-items: center;
}


#div1{
    background-color: whitesmoke;
    border-radius: 15px;
    width: 60%;
    align-content: center;
    padding: 40px;
}
#username, #password{
    width: 150px;
}
#div-1, #div-2, #div-3, #div-4{
  background-color: whitesmoke;
  border-radius: 15px;
  align-content: center;
  padding: 10px;
  width: 100%;
}

section {
	display: flex;
  }

nav{
  width: 40%;
  margin-right: 5%;
  margin-left: 5%;
}
article{
  width: 40%;
}
.form-control{
  width: 65%;
}
#logout{
  float: right;
  margin-right: 20px;
  width: 100px;
  height: 40px;
  font-size: 20px;;
}
#signup{
  margin-left: 70%;
}

#div_signup{
  margin-left: 100px;
}

#o2_count, #room_count, #medicines_count, #food_count{
  font-size: 50px;
}

#logo{
  height: 2cm;
  border-radius: 10px;
  margin-left: 15px;
}